
TestTMMtoMFIntegration/TestTMMtoMFIntegration/App.config
TestTMMtoMFIntegration/TestTMMtoMFIntegration/bin/Debug/TestTMMtoMFIntegration.exe.config
TMMtoMFConnector/TMMtoMFConnector/App.config
TMMtoMFConnector/TMMtoMFConnector/bin/Debug/TMMtoMFConnector.dll.config
